body {
  font-family: Papyrus, sans-serif; /* Fuente */
  background: linear-gradient(135deg, #8B0000, #000000); /* Fondo degradado */
  color: #fff;
  text-align: center;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
}

.container {
  background: rgba(0, 0, 0, 0.7);
  padding: 60px;
  border-radius: 40px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}

h1 {
  margin-bottom: 30px;
  font-size: 40px;
}

#quote {
  font-size: 30px;
  margin: 20px 0;
  min-height: 30px;
}

button {
  background: #FFEB3B;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #FDD835;
}
























